*{
	margin: 0px;
	text-align: center;
	font-family: Open Sans;
}
.rojo{
	background-color: #F05F40;
}
.btn{
	border-top-left-radius: 1em;
border-top-right-radius: 1em;
border-bottom-left-radius: 1em;
border-bottom-right-radius: 1em;

.line{
	color:#F05F40;
	width: 5em;
}

.pd-3  {
padding: 3%;
}
